<style>
  .lever {
    -webkit-transform: scale(4);
    /* Safari and Chrome */
  }

  .btn-floating {
    -webkit-transform: scale(1.6);
    /* Safari and Chrome */
  }

  input[type='text'] {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .cabecera-linea {
    font-size: 18px;
    vertical-align: middle;
  }

  .cabecera-info {
    font-size: 18px;
    vertical-align: middle;
  }

  .info-desc {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
          <h3>Pares</h3>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
          <h2 class="font-weight-bold">0</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
          <h3>Saldos</h3>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
          <h2 id="saldos" class="font-weight-bold">0</h2>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6">
              <a id="btn-restar-saldos" class="btn-floating btn-lg btn-danger"><i class="fas fa-minus"></i></a>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
              <a id="btn-sumar-saldos" class="btn-floating btn-lg btn-primary"><i class="fas fa-plus"></i></a>
            </div>
          </div>
          <div class="row">
            <span style="height: 100px;"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <span>
            </br>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span></span>
        </div>
        <div class="col-md-10">
          <div class="switch">
            <label class="font-weight-bold">
              <span style="margin-right: 60px ;"></span>
              <input id="checkEstado" type="checkbox">
              <span class="lever"></span>
              <span style="margin-left: 60px ;"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h4 class="font-weight-bold">Información</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="cabecera-info">Cliente:</span>
        </div>
        <div class="col-md-9">
          <span id="info-cliente" class="info-desc">...</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="cabecera-info">Pedido:</span>
        </div>
        <div class="col-md-9">
          <span id="info-pedido" class="info-desc">...</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="cabecera-info">Modelo:</span>
        </div>
        <div class="col-md-9">
          <span id="info-modelo" class="info-desc">...</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="cabecera-info">Utillaje:</span>
        </div>
        <div class="col-md-9">
          <span id="info-utillaje" class="info-desc">...</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="cabecera-info">Talla:</span>
        </div>
        <div class="col-md-9">
          <span id="info-talla" class="info-desc">...</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
            <span></span>
        </div>
        <div class="col-md-11">
          <a id="btn-reset-campos" class="btn-floating btn-lg btn-warning"><i class="fas fa-eraser"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h4 class="font-weight-bold">Etiqueta</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span class="cabecera-linea">1. </span>
        </div>
        <div class="col-md-10">
          <input autocomplete="off" id="input-linea-1" class="use-keyboard-input" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span class="cabecera-linea">2.</span>
        </div>
        <div class="col-md-10">
          <input autocomplete="off" id="input-linea-2" class="use-keyboard-input" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span class="cabecera-linea">3.</span>
        </div>
        <div class="col-md-10">
          <input autocomplete="off" id="input-linea-3" class="use-keyboard-input" type="text" />
        </div>
      </div>
    </div>
    <!--div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h4 class="font-weight-bold">Configuración</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div-->
  </div>
</div>

<script src="/js/keyboard.js"></script>
<script src="/js/dashboard.js"></script>