<style>
  .btn-updown {
    width: 30px;
    height: 30px;
  }

  .lever {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
  }

  input[type='text']{
    font-size: large;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
          <h3>Pares</h3>
        </div>
        <div class="col-md-8">
          <h3 class="font-weight-bold">0</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3 class="text-right">Saldos</h3>
        </div>
        <div class="col-md-4">
          <h3 id="saldos" class="font-weight-bold">0</h3>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <a id="btn-restar-saldos" class="btn-floating btn-sm btn-danger"><i class="fas fa-minus"></i></a>
            </div>
            <div class="col-md-6">
              <a id="btn-sumar-saldos" class="btn-floating btn-sm btn-primary"><i class="fas fa-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <span></span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <span>
            </br>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="switch">
            <label class="font-weight-bold">
              <span style="margin-right: 20px ;">OFF</span>
              <input id="checkEstado" type="checkbox">
              <span class="lever"></span>
              <span style="margin-left: 20px ;">ON</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h4 class="font-weight-bold">Información</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span>Cliente:</span>
        </div>
        <div class="col-md-8">
          <span class="font-weight-bold"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span>Pedido:</span>
        </div>
        <div class="col-md-8">
          <span class="font-weight-bold"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span>Modelo:</span>
        </div>
        <div class="col-md-8">
          <span class="font-weight-bold"></span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h4 class="font-weight-bold">Etiqueta</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span>Línea 1</span>
        </div>
        <div class="col-md-8">
          <input autocomplete="off" id="input-linea-1" class="use-keyboard-input" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span>Línea 2</span>
        </div>
        <div class="col-md-8">
          <input autocomplete="off" id="input-linea-2" class="use-keyboard-input" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span>Línea 3</span>
        </div>
        <div class="col-md-8">
          <input autocomplete="off" id="input-linea-3" class="use-keyboard-input" type="text" />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h4 class="font-weight-bold">Configuración</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/keyboard.js"></script>
<script src="/js/dashboard.js"></script>