<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impresora Marcaje</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link href="/css/easy-numpad.css" rel="stylesheet">
    <link href="/css/keyboard.css" rel="stylesheet">
    <style>
        body{
            margin: 20px;
        }
    </style>
</head>

<body>
    {{{body}}}

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/mdb.min.js"></script>
    <script src="/js/easy-numpad.js"></script>

</body>

</html>